## Welcome

In [3]:
a = 'This is our first class'

In [7]:
b = 2.5

In [8]:
type(a)

str

In [9]:
type(b)

float

In [10]:
len(a)

23

In [13]:
a[1],a[2],a[3]

('h', 'i', 's')

In [16]:
#last index
a[-1],a[-2],a[-3]

('s', 's', 'a')

In [17]:
abc = 'abcde'

In [20]:
abc[5]

IndexError: string index out of range

In [22]:
#slice a string
a[0:6]

'This i'

In [23]:
a[:6]

'This i'

In [24]:
a[6:]

's our first class'

In [28]:
a

'This is our first class'

In [29]:
a[::3]

'Tssufscs'

In [30]:
a.isupper()

False

In [31]:
a.split(' ')

['This', 'is', 'our', 'first', 'class']

In [32]:
len(a.split(' '))

5

In [33]:
#common use pre-defined functions

newstr1 = "Mumbai"
newstr2 = "Mumbai "
newstr3 = " Mumbai"

In [47]:
newstr1.strip("i")

'Mumba'

In [40]:
newstr1 = "Mumbai"

In [45]:
a = "This is our first class"

#### IF and Else

In [52]:
amount = 90

if amount>90:
    print('Amount is sufficient')
    print(amount)
    
elif amount==90:
    print('Just about enough balanace')
else:
    
    print('Insuffcient Amount')

SyntaxError: invalid syntax (<ipython-input-52-3a111089704b>, line 3)

### for loops

###Lists, Tuples, Dictionaries

###Functions

In [7]:
a = range(-5,5)

In [8]:
a[0]

-5

In [9]:
a[1]

-4

In [12]:
for i in range(5):
    print(i)
    print(i+10)
print(a)

0
10
1
11
2
12
3
13
4
14

In [13]:
a = 'This is our first class'
for i in a: #iterating by element
    print(i)

T
h
i
s

i
s

o
u
r

f
i
r
s
t

c
l
a
s
s

In [14]:
len(a)

23

In [18]:
for i in range(len(a)): 
    print('Index : ',i,' value : ',a[i])

Index :  0  value :  T
Index :  1  value :  h
Index :  2  value :  i
Index :  3  value :  s
Index :  4  value :
Index :  5  value :  i
Index :  6  value :  s
Index :  7  value :
Index :  8  value :  o
Index :  9  value :  u
Index :  10  value :  r
Index :  11  value :
Index :  12  value :  f
Index :  13  value :  i
Index :  14  value :  r
Index :  15  value :  s
Index :  16  value :  t
Index :  17  value :
Index :  18  value :  c
Index :  19  value :  l
Index :  20  value :  a
Index :  21  value :  s
Index :  22  value :  s

In [20]:
len(a.split(' '))

5

In [24]:
count = 0

for i in a:
    if i==' ':
        count = count + 1 
print('Total words : ',count+1)

Total words :  5

#### Lists

In [25]:
l1 = [12,'Sree',78.9,4]

In [26]:
l1.append('Nikhil')

In [27]:
l1

[12, 'Sree', 78.9, 4, 'Nikhil']

In [28]:
l1.extend(['Sarvesh','Keeshna'])

In [29]:
l1

[12, 'Sree', 78.9, 4, 'Nikhil', 'Sarvesh', 'Keeshna']

In [42]:
l2 = [123,12,45]

In [32]:
l2.sort()

In [33]:
l2

[12, 45, 123]

In [34]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [39]:
l3 = ['Sree','Keeshna','Sarvesh']

In [40]:
l3.sort(reverse = True)

In [41]:
l3

['Sree', 'Sarvesh', 'Keeshna']

In [43]:
l2.reverse()

In [44]:
l2

[45, 12, 123]

In [45]:
round1 = ['Arnod','Sylvester','John Claude']

round2 = round1 # it just refrences to orginal 

round2.append('Bill')

round2

['Arnod', 'Sylvester', 'John Claude', 'Bill']

In [46]:
round1

['Arnod', 'Sylvester', 'John Claude', 'Bill']

In [47]:
import copy

round1 = ['Arnod','Sylvester','John Claude']

round2 = round1.copy() # it just refrences to orginal 

round2.append('Bill')

round2

['Arnod', 'Sylvester', 'John Claude', 'Bill']

In [48]:
round1

['Arnod', 'Sylvester', 'John Claude']

In [49]:
#Make a list of all the vowels appearing in the given string
a = "Timothy Astor King"
vowelist = []   #declaring an empty list
for i in a:
    if i in 'aeiouAEIOU':
        vowelist.append(i)

In [50]:
vowelist

['i', 'o', 'A', 'o', 'i']

In [58]:
#get the first element of each nested list

l5 = [['Sree',28,'Kolkata'],['Kunal',58,'Mumbai'],['Sree',30,'Delhi']]
names = []
for i in l5:
    #print(i[0])
    names.append(i[0])

In [59]:
names

['Sree', 'Kunal', 'Sree']

In [60]:
[i[0] for i in l5]

['Sree', 'Kunal', 'Sree']

### List Comrehensions

In [61]:
squares = []
for i in range(10):
    squares.append(i*i)

In [62]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
squares = [i*i for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
bank_balance = [100,-1000,5000,-500,-300]

credits = [i for i in bank_balance if i > 0]

debits = [i for i in bank_balance if i < 0]

In [68]:
credits

[100, 5000]

In [70]:
debits

[-1000, -500, -300]

## Dictionaries

In [71]:
car = {"Brand":'Hyundai',
      "Model":'I20',
      "Year":2015}

In [72]:
type(car)

dict

In [73]:
car.keys()

dict_keys(['Brand', 'Model', 'Year'])

In [74]:
car.values()

dict_values(['Hyundai', 'I20', 2015])

In [75]:
car.items()

dict_items([('Brand', 'Hyundai'), ('Model', 'I20'), ('Year', 2015)])

In [76]:
#adding new pair
car['Mileage'] = '20kmpl'

In [77]:
car

{'Brand': 'Hyundai', 'Model': 'I20', 'Year': 2015, 'Mileage': '20kmpl'}

In [80]:
d = {'car1':'Verna','car2':'Santro','car3':['i10',2016,'13kmpl']}

In [81]:
len(d)

3

In [82]:
d['car3']

['i10', 2016, '13kmpl']

In [83]:
d['car3'][2]

'13kmpl'

In [84]:
#how to iterate through a dictionary
for i in car:
    print(i)

Brand
Model
Year
Mileage

In [90]:
for i in car.keys():
    print('Key ',i)
    print('Value ',car[i])

Key  Brand
Value  Hyundai
Key  Model
Value  I20
Key  Year
Value  2015
Key  Mileage
Value  20kmpl

In [86]:
for i in car.values():
    print(i)

Hyundai
I20
2015
20kmpl

In [89]:
for key,value in car.items():
    print(key,' ---->',value)

Brand  ----> Hyundai
Model  ----> I20
Year  ----> 2015
Mileage  ----> 20kmpl

In [93]:
for i in car.items():
    print(i)

('Brand', 'Hyundai')
('Model', 'I20')
('Year', 2015)
('Mileage', '20kmpl')

## Tuple

In [94]:
t1 = ('Sree',123)

In [95]:
t1.append('new name')

AttributeError: 'tuple' object has no attribute 'append'

In [97]:
t1[0],t1[1]

('Sree', 123)

## Functions

In [98]:
def simple():
    print('Simple Function')
    print('First Function')
print('Not a part of function')

Not a part of function

In [99]:
simple()

Simple Function
First Function

In [121]:
#function with a parameter
def plus_ten(a=20):
    print('Value : ',a)
    return a+10

In [122]:
plus_ten()

Value :  20

30

In [108]:
val = plus_ten(25)
val

Value :  25

35

In [109]:
def minus_ten(a):
    result = a - 10

In [112]:
val = minus_ten(45)
print(val)

None

In [116]:
#function within the function
#nested function
def wage(w_hour):
    print('Entered the wage function')
    return w_hour*25

def with_bonus(w_hour):
    print('Entered the bonus function')
    return wage(w_hour)+50

In [117]:
wage(8)

Entered the wage function
200

200

In [118]:
with_bonus(8)

Entered the bonus function
Entered the wage function
200

250