## Welcome

In [3]:
a = 'This is our first class'

In [7]:
b = 2.5

In [8]:
type(a)

str

In [9]:
type(b)

float

In [10]:
len(a)

23

In [13]:
a[1],a[2],a[3]

('h', 'i', 's')

In [16]:
#last index
a[-1],a[-2],a[-3]

('s', 's', 'a')

In [17]:
abc = 'abcde'

In [20]:
abc[5]

IndexError: string index out of range

In [22]:
#slice a string
a[0:6]

'This i'

In [23]:
a[:6]

'This i'

In [24]:
a[6:]

's our first class'

In [28]:
a

'This is our first class'

In [29]:
a[::3]

'Tssufscs'

In [30]:
a.isupper()

False

In [31]:
a.split(' ')

['This', 'is', 'our', 'first', 'class']

In [32]:
len(a.split(' '))

5

In [33]:
#common use pre-defined functions

newstr1 = "Mumbai"
newstr2 = "Mumbai "
newstr3 = " Mumbai"

In [47]:
newstr1.strip("i")

'Mumba'

In [40]:
newstr1 = "Mumbai"

In [45]:
a = "This is our first class"

#### IF and Else

In [52]:
amount = 90

if amount>90:
    print('Amount is sufficient')
    print(amount)
    
elif amount==90:
    print('Just about enough balanace')
else:
    
    print('Insuffcient Amount')

SyntaxError: invalid syntax (<ipython-input-52-3a111089704b>, line 3)